

<nav class="navbar navbar-expand-lg bg-dark shadow">
    <a class="navbar-brand" href="#!" style="color:white">Camp Registrar</a>
    <form class="d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="dropdown">
            {% if user.is_authenticated %}
            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <em class="hide-on-sm-scn">Welcome!</em> <strong class="hide-on-sm-scn">{{user.username|title}}</strong><img src="/static/images/user_icon1.png" style="height: 32px">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'camper:list' %}">Campers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'camper:dashboard' %}">Dashboard</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
            {% else %}
            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login<img src="/static/images/user_icon1.png" style="height: 32px">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'accounts:login' %}">Log in</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'accounts:register' %}">Sign up</a>
            </div>
            {% endif %}
            
        </div>
    </form>
</nav>