{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{ user_profile.local_church }}</h1>
  <h3 style="text-decoration: underline;">{{ user_profile.district }} District</h3>
  <p class="lead">A quick snap at your activities:</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Registered Campers</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ gender_total }}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Males: {{ gender_male }}</li>
          <li>Females: {{ gender_female }}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href = '{% url 'camper:new' %}';"><i class="fas fa-plus"></i> Add camper</button>
      </div>
    </div>
   
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Current Balance</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">GHS {{ user_profile.balance }}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Registration is GHS {{ registration_fee }} per camper.</li>
          <li>Registration ends on Sunday, 28th March, 2021.</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#staticBackdrop" data-whatever="@mdo"><i class="fas fa-plus"></i> Add funds</button>
      </div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Funds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="." method="post">
          <div class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Note: This is for demo purposes. No amount will be deducted from your account.</p>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Funds</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

{% endblock %}