{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">Total Users: <strong>{{ total_users }}</strong></p>
    </div>
    <div class="col">
      <p>Total Campers: <strong>{{ total_campers }}</strong></p>
    </div>
  </div>
</div>

<hr>
<table class="table">
    <thead class="thead-light">
        <tr>
              <th scope="col">#</th>
              <th scope="col">User</th>
              <th scope="col">Campers</th>
              <th scope="col">District</th>
        </tr>
    </thead>
    <tbody>
        {% for key, values in users_and_campers.items %}
        <tr>
            <th scope="row">{{ forloop.counter }}.</th>
            <td>{{ key }}</td>
            {% for obj in values %}
              <td>{{ obj }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <p> 
        <a class="btn btn-outline-primary" href="/mymin/">Go To Admin</i></a>
    </p>
</div>
{% endblock %}